*{
    margin-top: 40px;
    padding: 0;
    /* font-family: ; */
    background-color:aliceblue;
@import url(http://allfont.net/allfont.css?fonts=agency-fb);
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 2px;


}


h1{


    text-align: center;


}

#footer{
    text-align: center;
    text-decoration: overline;

}
